/* Colour schema */

/* Reds */
$dark-red: #800000;
$mid-red: #B30000;
$light-red: #F60000;

/* Blues */
$dark-blue: #000029;
$mid-blue: #000077;
$light-blue: #0202FF;

/* Nude */
$dark-nude: #D2945E;
$mid-nude: #E3BC9A;
$light-nude: #F4E4D6;

/* Silvers */
$dark-silver: #545454;
$mid-silver: #7B7B7B;
$light-silver: #C0C0C0;

/* Shadows */
$black: #000000;
$dark-shadow: rgba(0, 0, 0, 0.8);
$mid-shadow: rgba(0, 0, 0, 0.5);
$light-shadow: rgba(0, 0, 0, 0.2);