/* Layout of the filter by status page container and select field */
.filter-by-status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  select {
    width: 20rem;
    align-self: center;
    margin-top: 2rem;
  }
}