/* Layout of the header container as well as the navigation container and buttons */
.header-container {
  margin: 2rem 2rem 0 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .header-navigation {
    margin: 1rem;
    display: flex;
    justify-content: center;

    .btn-nav {
      padding: 1rem;
      margin: 0 0.5rem;
    }
  }
}