/* Layout of the submit-job form container and components */
.submit-job-container {

  form {
    width: 35rem;
  }

  input {
    width: 30rem;
    margin-right: 0;
  }

  .label {
    width: 30rem;
    display: flex;
    justify-content: space-between;
  }
}